In [13]:
from models.fip_model import fip_model
import cudf as pd
import numpy as np

In [14]:
daily = pd.read_csv('data/data.csv', index_col=0)
daily

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap,insert_id,update_id
0,COM,2024-07-10,29.19,29.2500,29.1600,29.2059,25975.0,933.0,29.182501,scheduled__2024-07-10T00:00:00+00:00,scheduled__2024-07-10T00:00:00+00:00
1,CDC,2024-07-10,58.43,58.7900,58.3500,58.7800,23994.0,229.0,58.537794,scheduled__2024-07-10T00:00:00+00:00,scheduled__2024-07-10T00:00:00+00:00
2,DFAU,2024-07-10,38.22,38.5100,38.1752,38.4900,501883.0,1323.0,38.360875,scheduled__2024-07-10T00:00:00+00:00,scheduled__2024-07-10T00:00:00+00:00
3,BAPR,2024-07-10,42.17,42.3800,42.1293,42.3800,6872.0,50.0,42.202405,scheduled__2024-07-10T00:00:00+00:00,scheduled__2024-07-10T00:00:00+00:00
4,DIV,2024-07-10,17.08,17.1500,17.0700,17.1500,93619.0,928.0,17.105537,scheduled__2024-07-10T00:00:00+00:00,scheduled__2024-07-10T00:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...
6996510,VERV,2024-08-01,7.06,7.0600,6.5799,6.7300,906682.0,12457.0,6.730108,scheduled__2024-08-01T00:00:00+00:00,scheduled__2024-08-01T00:00:00+00:00
6996511,VOX,2024-08-01,139.48,140.4200,136.0000,136.7600,220988.0,2894.0,137.565745,scheduled__2024-08-01T00:00:00+00:00,scheduled__2024-08-01T00:00:00+00:00
6996512,SMMV,2024-08-01,40.02,40.1801,39.4500,39.7500,142853.0,697.0,39.639095,scheduled__2024-08-01T00:00:00+00:00,scheduled__2024-08-01T00:00:00+00:00
6996513,TAC,2024-08-01,7.65,8.1700,7.6200,8.1500,1737974.0,10201.0,8.009016,scheduled__2024-08-01T00:00:00+00:00,scheduled__2024-08-01T00:00:00+00:00
6996514,TBBK,2024-08-01,51.76,51.9000,49.2500,49.6200,995646.0,15162.0,49.909802,scheduled__2024-08-01T00:00:00+00:00,scheduled__2024-08-01T00:00:00+00:00

In [15]:
daily = daily.sort_values(by=['symbol','timestamp'])

daily['timestamp'] = daily['timestamp'].astype(str).str[:10]
daily['timestamp'] = pd.to_datetime(daily['timestamp'])

daily['caldt'] = daily['timestamp'].dt.strftime("%Y-%m-%d")
daily['mdt'] = daily['timestamp'].dt.strftime("%Y-%m")

daily['ret'] = daily.groupby('symbol')['close'].pct_change()

daily

,symbol,timestamp,open,high,low,close,volume,trade_count,vwap,insert_id,update_id,caldt,mdt,ret
644922,A,2016-01-04,38.36,38.480,37.69,38.01,3678650.0,23206.0,37.930000,scheduled__2016-01-01T00:00:00+00:00,scheduled__2016-01-01T00:00:00+00:00,2016-01-04,2016-01,<NA>
644923,A,2016-01-05,38.05,38.260,37.69,37.88,2800925.0,18719.0,37.910000,scheduled__2016-01-01T00:00:00+00:00,scheduled__2016-01-01T00:00:00+00:00,2016-01-05,2016-01,-0.003420153
644924,A,2016-01-06,37.59,38.300,37.42,38.05,2289681.0,16967.0,37.980000,scheduled__2016-01-01T00:00:00+00:00,scheduled__2016-01-01T00:00:00+00:00,2016-01-06,2016-01,0.004487856
644925,A,2016-01-07,37.50,37.510,36.26,36.44,3762400.0,27362.0,36.650000,scheduled__2016-01-01T00:00:00+00:00,scheduled__2016-01-01T00:00:00+00:00,2016-01-07,2016-01,-0.042312746
644926,A,2016-01-08,36.64,37.090,35.94,36.05,4449196.0,24850.0,36.220000,scheduled__2016-01-01T00:00:00+00:00,scheduled__2016-01-01T00:00:00+00:00,2016-01-08,2016-01,-0.010702525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6988971,ZYME,2024-07-26,10.82,11.010,10.63,10.75,697630.0,3424.0,10.752630,scheduled__2024-07-26T00:00:00+00:00,scheduled__2024-07-01T00:00:00+00:00,2024-07-26,2024-07,0.011288805
6988972,ZYME,2024-07-29,10.74,10.760,10.46,10.60,515797.0,4053.0,10.591751,scheduled__2024-07-29T00:00:00+00:00,scheduled__2024-07-01T00:00:00+00:00,2024-07-29,2024-07,-0.013953488
6988973,ZYME,2024-07-30,10.65,10.790,10.29,10.42,397701.0,3606.0,10.432130,scheduled__2024-07-30T00:00:00+00:00,scheduled__2024-07-01T00:00:00+00:00,2024-07-30,2024-07,-0.016981132
6992147,ZYME,2024-07-31,10.49,10.735,10.20,10.46,377411.0,4758.0,10.475797,scheduled__2024-07-01T00:00:00+00:00,scheduled__2024-07-31T00:00:00+00:00,2024-07-31,2024-07,0.003838772
6996321,ZYME,2024-08-01,10.46,10.510,10.01,10.11,709799.0,5356.0,10.114623,scheduled__2024-08-01T00:00:00+00:00,scheduled__2024-08-01T00:00:00+00:00,2024-08-01,2024-08,-0.033460803

In [16]:
parameters = {
    'num_positions': 25
}

In [17]:
num_positions = parameters['num_positions']

# Create additional columns
daily['up'] = daily['ret'].apply(lambda x: 1 if x > 0 else 0)
daily['down'] = daily['ret'].apply(lambda x: 1 if x < 0 else 0)
daily['total'] = 1

In [18]:
# Aggregate to monthly level
monthly = daily.groupby(['symbol','mdt'])[['caldt','close','up','down', 'total']].agg({'caldt': 'last','close': 'last','up':'sum','down':'sum', 'total':'sum'})

monthly.reset_index("mdt",inplace=True)
monthly.reset_index("symbol",inplace=True)

In [19]:
# Create additional monthly columns
monthly['%neg-%pos'] = (monthly['down']-monthly['up']) / monthly['total']

monthly['ret'] = monthly.groupby('symbol')['close'].pct_change()

monthly['logret'] = np.log(1 + monthly['ret'])

monthly

,symbol,mdt,caldt,close,up,down,total,%neg-%pos,ret,logret
0,A,2016-01,2016-01-29,35.17,7,11,19,0.210526,<NA>,<NA>
1,A,2016-02,2016-02-29,34.89,12,8,20,-0.200000,-0.007961331,-0.007993191
2,A,2016-03,2016-03-31,37.23,13,9,22,-0.181818,0.067067928,0.064914633
3,A,2016-04,2016-04-29,38.34,12,9,21,-0.142857,0.029814666,0.02937885
4,A,2016-05,2016-05-31,43.00,15,6,21,-0.428571,0.121544079,0.114706378
...,...,...,...,...,...,...,...,...,...,...
338227,ZYME,2024-04,2024-04-30,8.58,7,15,22,0.363636,-0.184410646,-0.203844294
338228,ZYME,2024-05,2024-05-31,8.48,11,11,22,0.000000,-0.011655012,-0.011723464
338229,ZYME,2024-06,2024-06-28,8.51,6,12,19,0.315789,0.003537736,0.003531493
338230,ZYME,2024-07,2024-07-31,10.46,14,8,22,-0.272727,0.229142186,0.206316516
338231,ZYME,2024-08,2024-08-01,10.11,0,1,1,1.000000,-0.033460803,-0.034033426

In [20]:
# Generate pret and id features
monthly['pret'] = monthly.groupby('symbol')['logret'].rolling(11,11).sum().reset_index(drop=True)
monthly['pret'] = monthly.groupby('symbol')['pret'].shift(2)

monthly['id'] = monthly.groupby('symbol')['%neg-%pos'].rolling(11,11).mean().reset_index(drop=True)
monthly['id'] = monthly.groupby('symbol')['id'].shift(2)

In [21]:
monthly['id'] = np.sign(monthly['pret']) * monthly['id']

monthly['momscore'] = monthly['pret'] * abs(monthly['id'])


# Filter universe by price and availability
monthly['prclag'] = monthly.groupby('symbol')['close'].shift(1)

monthly = monthly.query("pret == pret and id == id and prclag >= 5").reset_index(drop=True)


# Generate portfolio
monthly['score'] = monthly.groupby('mdt')['momscore'].rank(ascending=False)

port = monthly[monthly['score'] <= num_positions].reset_index(drop=True).copy()

# # print(port[port['mdt'] == port['mdt'].max()].sort_values(by='score').reset_index(drop=True))

# port

In [22]:
port = port[port['mdt'] == '2024-08'].sort_values(by="score").reset_index(drop=True)

port

,symbol,mdt,caldt,close,up,down,total,%neg-%pos,ret,logret,pret,id,momscore,prclag,score
0,ANF,2024-08,2024-08-01,142.27,0,1,1,1.0,-0.035327,-0.035966,1.501803,-0.199984,0.300337,147.48,1.0
1,VST,2024-08,2024-08-01,76.04,0,1,1,1.0,-0.040141,-0.040969,1.137386,-0.226424,0.257532,79.22,2.0
2,VITL,2024-08,2024-08-01,36.51,1,0,1,-1.0,0.000548,0.000548,1.385653,-0.162649,0.225375,36.49,3.0
3,WING,2024-08,2024-08-01,371.66,0,1,1,1.0,-0.005938,-0.005955,0.922604,-0.233391,0.215327,373.88,4.0
4,NVDL,2024-08,2024-08-01,51.45,1,0,1,-1.0,0.092357,0.088337,1.567208,-0.135206,0.211896,47.10,5.0
5,NVDY,2024-08,2024-08-01,25.07,0,1,1,1.0,-0.059287,-0.061117,0.756051,-0.250405,0.189319,26.65,6.0
6,FTAI,2024-08,2024-08-01,108.92,0,1,1,1.0,-0.022701,-0.022962,1.189515,-0.153941,0.183116,111.45,7.0
7,VRT,2024-08,2024-08-01,74.00,0,1,1,1.0,-0.059720,-0.061578,1.203626,-0.147954,0.178082,78.70,8.0
8,MMYT,2024-08,2024-08-01,89.49,0,1,1,1.0,-0.043808,-0.044797,1.072673,-0.158196,0.169693,93.59,9.0
9,BLBD,2024-08,2024-08-01,49.73,0,1,1,1.0,-0.045856,-0.046940,0.944541,-0.168555,0.159207,52.12,10.0
10,USD,2024-08,2024-08-01,105.53,0,1,1,1.0,-0.135496,-0.145599,1.066430,-0.142600,0.152073,122.07,11.0
11,SFM,2024-08,2024-08-01,100.76,1,0,1,-1.0,0.008710,0.008672,0.756810,-0.200104,0.151441,99.89,12.0
12,NVDA,2024-08,2024-08-01,109.21,0,1,1,1.0,-0.066741,-0.069072,0.972607,-0.152795,0.148609,117.02,13.0
13,IESC,2024-08,2024-08-01,144.62,0,1,1,1.0,-0.060726,-0.062648,0.888196,-0.161249,0.143221,153.97,14.0
14,JXN,2024-08,2024-08-01,84.88,0,1,1,1.0,-0.036112,-0.036780,0.861083,-0.163373,0.140678,88.06,15.0
15,FICO,2024-08,2024-08-01,1578.95,0,1,1,1.0,-0.013156,-0.013244,0.574649,-0.237812,0.136659,1600.00,16.0
16,CLSK,2024-08,2024-08-01,15.09,0,1,1,1.0,-0.056875,-0.058556,0.976034,0.138469,0.135150,16.00,17.0
17,NRG,2024-08,2024-08-01,73.50,0,1,1,1.0,-0.022216,-0.022467,0.739679,-0.178916,0.132341,75.17,18.0
18,CAMT,2024-08,2024-08-01,92.02,0,1,1,1.0,-0.123619,-0.131954,0.980084,-0.133548,0.130889,105.00,19.0
19,ML,2024-08,2024-08-01,64.89,0,1,1,1.0,-0.058474,-0.060253,1.633383,-0.078017,0.127431,68.92,20.0
20,CRWD,2024-08,2024-08-01,224.22,0,1,1,1.0,-0.033368,-0.033937,0.863036,-0.145759,0.125795,231.96,21.0
21,TECL,2024-08,2024-08-01,75.48,0,1,1,1.0,-0.110640,-0.117253,0.531019,-0.229456,0.121846,84.87,22.0
22,EME,2024-08,2024-08-01,366.12,0,1,1,1.0,-0.024824,-0.025138,0.531709,-0.228083,0.121274,375.44,23.0
23,MOD,2024-08,2024-08-01,111.86,0,1,1,1.0,-0.049295,-0.050551,0.981129,-0.123289,0.120963,117.66,24.0
24,GDDY,2024-08,2024-08-01,141.41,0,1,1,1.0,-0.027776,-0.028169,0.594595,-0.200689,0.119329,145.45,25.0

In [23]:
monthly[monthly['caldt'] == '2024-08-01'].sort_values(by='score', ascending=False)

,symbol,mdt,caldt,close,up,down,total,%neg-%pos,ret,logret,pret,id,momscore,prclag,score
257871,VRM,2024-08,2024-08-01,8.94,0,1,1,1.0,-0.007769,-0.007799,-2.987112,-0.204913,-0.612099,9.01,3248.0
212904,SEDG,2024-08,2024-08-01,26.54,0,1,1,1.0,-0.080388,-0.083804,-2.257482,-0.235986,-0.532735,28.86,3247.0
198229,RBOT,2024-08,2024-08-01,6.38,0,1,1,1.0,-0.112656,-0.119523,-2.126039,-0.224525,-0.477350,7.19,3246.0
188889,PLL,2024-08,2024-08-01,9.29,0,1,1,1.0,-0.072854,-0.075645,-1.704201,-0.206817,-0.352458,10.02,3245.0
20455,ATRA,2024-08,2024-08-01,10.40,1,0,1,-1.0,0.057986,0.056367,-1.871802,-0.160248,-0.299952,9.83,3244.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171952,NVDL,2024-08,2024-08-01,51.45,1,0,1,-1.0,0.092357,0.088337,1.567208,-0.135206,0.211896,47.10,5.0
264565,WING,2024-08,2024-08-01,371.66,0,1,1,1.0,-0.005938,-0.005955,0.922604,-0.233391,0.215327,373.88,4.0
255069,VITL,2024-08,2024-08-01,36.51,1,0,1,-1.0,0.000548,0.000548,1.385653,-0.162649,0.225375,36.49,3.0
259264,VST,2024-08,2024-08-01,76.04,0,1,1,1.0,-0.040141,-0.040969,1.137386,-0.226424,0.257532,79.22,2.0
13470,ANF,2024-08,2024-08-01,142.27,0,1,1,1.0,-0.035327,-0.035966,1.501803,-0.199984,0.300337,147.48,1.0